<ion-view view-title="Help">
  <ion-content>
    <div class="item card">
      <div class="item item-text-wrap">
        <h2>What can I do with this App?</h2>
        <p>You can add your iBeacons and get a notification when the beacon goes out of range and see its last known location. Or get a notification when you enter the region of a beacon.</p>
      </div>
      <div class="item item-text-wrap item-borderless">
        <p>With <strong>Nearby Eddystones</strong> you can view all Eddystone beacons within range, sorted by distance.</p>
      </div>
      <div class="item item-text-wrap">
        <h2>What is the distance of a Beacon?</h2>
        <p>The range of a beacon depends on the beacon itself. Some beacons have a 100 meter range and some a 30 meter.</p>
      </div>
      <div class="item item-text-wrap">
        <h2>Use Cases</h2>
        <div class="list">
          <div class="item item-icon-left item-borderless">
            <i class="icon ion-checkmark"></i>
            Add a beacon to your keys so you don't forget them.
          </div>
          <div class="item item-icon-left item-borderless">
            <i class="icon ion-checkmark"></i>
            Add a beacon in your wallet so you don't forget it.
          </div>
          <div class="item item-icon-left item-borderless">
            <i class="icon ion-checkmark"></i>
            Give a beacon to your kids so they stay in range.
          </div>
          <div class="item item-icon-left item-borderless">
            <i class="icon ion-checkmark"></i>
            Get notified when your pet goes out of range.
          </div>
          <div class="item item-icon-left item-borderless">
            <i class="icon ion-checkmark"></i>
            Add a beacon in your car so you get a notification when it's in range or see where you parked it.
          </div>
          <div class="item item-icon-left item-borderless">
            <i class="icon ion-checkmark"></i>
            Give beacons away as a promotional gift.
          </div>
        </div>
      </div>
      <div class="item item-text-wrap">
        <h2>Troubleshooting</h2>
        <div class="list">
          <div class="item item-icon-left item-borderless">
            <i class="icon ion-checkmark"></i>
            Make sure Bluetooth is turned on.
          </div>
          <div class="item item-icon-left item-borderless">
            <i class="icon ion-checkmark"></i>
            Make sure this app has permissions to send notifications.
          </div>
          <div class="item item-icon-left item-borderless">
            <i class="icon ion-checkmark"></i>
            When a beacon is out of range, it can take 10 seconds before you receive a notification.
          </div>
        </div>
      </div>
      <div class="item item-image">
        <img src="img/logos/ibeacon.svg" style="margin:30px 0; width:200px">
      </div>
      <div class="item item-image">
        <img src="img/logos/eddystone.svg" style="margin:30px 0; width:200px">
      </div>
    </div>
  </ion-content>
</ion-view>